Carga de datos

## Sección de Python

In [1]:
import csv 
aguacaton = open('avocado.csv', 'r')
print (aguacaton)

<_io.TextIOWrapper name='avocado.csv' mode='r' encoding='cp1252'>

## Sección de Pandas

### 1-Importa pandas.
### 2-Lee el archivo .csv usando la función read_csv.

In [2]:
import pandas
paa = pandas.read_csv('avocado.csv')
print (paa)

       Unnamed: 0        Date  AveragePrice  Total Volume     4046       4225  \
0               0  2015-12-27          1.33      64236.62  1036.74   54454.85
1               1  2015-12-20          1.35      54876.98   674.28   44638.81
2               2  2015-12-13          0.93     118220.22   794.70  109149.67
3               3  2015-12-06          1.08      78992.15  1132.00   71976.41
4               4  2015-11-29          1.28      51039.60   941.48   43838.39
...           ...         ...           ...           ...      ...        ...
18244           7  2018-02-04          1.63      17074.83  2046.96    1529.20
18245           8  2018-01-28          1.71      13888.04  1191.70    3431.50
18246           9  2018-01-21          1.87      13766.76  1191.92    2452.79
18247          10  2018-01-14          1.93      16205.22  1527.63    2981.04
18248          11  2018-01-07          1.62      17489.58  2894.77    2356.13

         4770  Total Bags  Small Bags  Large Bags  XLarge Bags          type  \
0       48.16     8696.87     8603.62       93.25          0.0  conventional
1       58.33     9505.56     9408.07       97.49          0.0  conventional
2      130.50     8145.35     8042.21      103.14          0.0  conventional
3       72.58     5811.16     5677.40      133.76          0.0  conventional
4       75.78     6183.95     5986.26      197.69          0.0  conventional
...       ...         ...         ...         ...          ...           ...
18244    0.00    13498.67    13066.82      431.85          0.0       organic
18245    0.00     9264.84     8940.04      324.80          0.0       organic
18246  727.94     9394.11     9351.80       42.31          0.0       organic
18247  727.01    10969.54    10919.54       50.00          0.0       organic
18248  224.53    12014.15    11988.14       26.01          0.0       organic

       year            region
0      2015            Albany
1      2015            Albany
2      2015            Albany
3      2015            Albany
4      2015            Albany
...     ...               ...
18244  2018  WestTexNewMexico
18245  2018  WestTexNewMexico
18246  2018  WestTexNewMexico
18247  2018  WestTexNewMexico
18248  2018  WestTexNewMexico

[18249 rows x 14 columns]

### 3 - Observa las primeras líneas usando la función head.
### 4 - Obtén diferentes combinaciones de columnas y datos.

In [3]:
paa = pandas.read_csv('avocado.csv')
headpaa = paa.head(14)
print (headpaa)
tailpaa = paa.tail(14)
print(tailpaa)

    Unnamed: 0        Date  AveragePrice  Total Volume     4046       4225  \
0            0  2015-12-27          1.33      64236.62  1036.74   54454.85
1            1  2015-12-20          1.35      54876.98   674.28   44638.81
2            2  2015-12-13          0.93     118220.22   794.70  109149.67
3            3  2015-12-06          1.08      78992.15  1132.00   71976.41
4            4  2015-11-29          1.28      51039.60   941.48   43838.39
5            5  2015-11-22          1.26      55979.78  1184.27   48067.99
6            6  2015-11-15          0.99      83453.76  1368.92   73672.72
7            7  2015-11-08          0.98     109428.33   703.75  101815.36
8            8  2015-11-01          1.02      99811.42  1022.15   87315.57
9            9  2015-10-25          1.07      74338.76   842.40   64757.44
10          10  2015-10-18          1.12      84843.44   924.86   75595.85
11          11  2015-10-11          1.28      64489.17  1582.03   52677.92
12          12  2015-10-04          1.31      61007.10  2268.32   49880.67
13          13  2015-09-27          0.99     106803.39  1204.88   99409.21

      4770  Total Bags  Small Bags  Large Bags  XLarge Bags          type  \
0    48.16     8696.87     8603.62       93.25          0.0  conventional
1    58.33     9505.56     9408.07       97.49          0.0  conventional
2   130.50     8145.35     8042.21      103.14          0.0  conventional
3    72.58     5811.16     5677.40      133.76          0.0  conventional
4    75.78     6183.95     5986.26      197.69          0.0  conventional
5    43.61     6683.91     6556.47      127.44          0.0  conventional
6    93.26     8318.86     8196.81      122.05          0.0  conventional
7    80.00     6829.22     6266.85      562.37          0.0  conventional
8    85.34    11388.36    11104.53      283.83          0.0  conventional
9   113.00     8625.92     8061.47      564.45          0.0  conventional
10  117.07     8205.66     7877.86      327.80          0.0  conventional
11  105.32    10123.90     9866.27      257.63          0.0  conventional
12  101.36     8756.75     8379.98      376.77          0.0  conventional
13  154.84     6034.46     5888.87      145.59          0.0  conventional

    year  region
0   2015  Albany
1   2015  Albany
2   2015  Albany
3   2015  Albany
4   2015  Albany
5   2015  Albany
6   2015  Albany
7   2015  Albany
8   2015  Albany
9   2015  Albany
10  2015  Albany
11  2015  Albany
12  2015  Albany
13  2015  Albany
       Unnamed: 0        Date  AveragePrice  Total Volume      4046      4225  \
18235          10  2018-01-14          1.82     207999.67  33869.12  47435.14
18236          11  2018-01-07          1.48     297190.60  34734.97  62967.74
18237           0  2018-03-25          1.62      15303.40   2325.30   2171.66
18238           1  2018-03-18          1.56      15896.38   2055.35   1499.55
18239           2  2018-03-11          1.56      22128.42   2162.67   3194.25
18240           3  2018-03-04          1.54      17393.30   1832.24   1905.57
18241           4  2018-02-25          1.57      18421.24   1974.26   2482.65
18242           5  2018-02-18          1.56      17597.12   1892.05   1928.36
18243           6  2018-02-11          1.57      15986.17   1924.28   1368.32
18244           7  2018-02-04          1.63      17074.83   2046.96   1529.20
18245           8  2018-01-28          1.71      13888.04   1191.70   3431.50
18246           9  2018-01-21          1.87      13766.76   1191.92   2452.79
18247          10  2018-01-14          1.93      16205.22   1527.63   2981.04
18248          11  2018-01-07          1.62      17489.58   2894.77   2356.13

         4770  Total Bags  Small Bags  Large Bags  XLarge Bags     type  year  \
18235  433.52   126261.89    89115.78    37133.99        12.12  organic  2018
18236  157.77   199330.12   103761.55    95544.39        24.18  organic  2018
18237    0.00    10806.44    10569.80      236.64         0.00  organic  2018
18238    0.00    12341.48    12114.81      226.67         0.00  organic  2018
18239    8.93    16762.57    16510.32      252.25         0.00  organic  2018
18240    0.00    13655.49    13401.93      253.56         0.00  organic  2018
18241    0.00    13964.33    13698.27      266.06         0.00  organic  2018
18242    0.00    13776.71    13553.53      223.18         0.00  organic  2018
18243    0.00    12693.57    12437.35      256.22         0.00  organic  2018
18244    0.00    13498.67    13066.82      431.85         0.00  organic  2018
18245    0.00     9264.84     8940.04      324.80         0.00  organic  2018
18246  727.94     9394.11     9351.80       42.31         0.00  organic  2018
18247  727.01    10969.54    10919.54       50.00         0.00  organic  2018
18248  224.53    12014.15    11988.14       26.01         0.00  organic  2018

                 region
18235              West
18236              West
18237  WestTexNewMexico
18238  WestTexNewMexico
18239  WestTexNewMexico
18240  WestTexNewMexico
18241  WestTexNewMexico
18242  WestTexNewMexico
18243  WestTexNewMexico
18244  WestTexNewMexico
18245  WestTexNewMexico
18246  WestTexNewMexico
18247  WestTexNewMexico
18248  WestTexNewMexico

### 5 - Revisa los datos obtenidos por la función  describe.
### 6 - Responde las preguntas de la sección anterior.

In [4]:
paa = pandas.read_csv('avocado.csv')
despa = paa.describe()
print (despa)

         Unnamed: 0  AveragePrice  Total Volume          4046          4225  \
count  18249.000000  18249.000000  1.824900e+04  1.824900e+04  1.824900e+04
mean      24.232232      1.405978  8.506440e+05  2.930084e+05  2.951546e+05
std       15.481045      0.402677  3.453545e+06  1.264989e+06  1.204120e+06
min        0.000000      0.440000  8.456000e+01  0.000000e+00  0.000000e+00
25%       10.000000      1.100000  1.083858e+04  8.540700e+02  3.008780e+03
50%       24.000000      1.370000  1.073768e+05  8.645300e+03  2.906102e+04
75%       38.000000      1.660000  4.329623e+05  1.110202e+05  1.502069e+05
max       52.000000      3.250000  6.250565e+07  2.274362e+07  2.047057e+07

               4770    Total Bags    Small Bags    Large Bags    XLarge Bags  \
count  1.824900e+04  1.824900e+04  1.824900e+04  1.824900e+04   18249.000000
mean   2.283974e+04  2.396392e+05  1.821947e+05  5.433809e+04    3106.426507
std    1.074641e+05  9.862424e+05  7.461785e+05  2.439660e+05   17692.894652
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00       0.000000
25%    0.000000e+00  5.088640e+03  2.849420e+03  1.274700e+02       0.000000
50%    1.849900e+02  3.974383e+04  2.636282e+04  2.647710e+03       0.000000
75%    6.243420e+03  1.107834e+05  8.333767e+04  2.202925e+04     132.500000
max    2.546439e+06  1.937313e+07  1.338459e+07  5.719097e+06  551693.650000

               year
count  18249.000000
mean    2016.147899
std        0.939938
min     2015.000000
25%     2015.000000
50%     2016.000000
75%     2017.000000
max     2018.000000

Como reto, intenta responder las siguientes preguntas utilizando código: ¿Cuántos objetos hay?

In [5]:
print(len(paa.index))

18249

¿Cuál es el valor de la variable 2 del objeto 15?

In [6]:
print(paa.iloc[15,2])

1.28

¿Cuál es el mínimo y máximo de la variable 3?

In [7]:
print(paa["Total Volume"].min())
print(paa["Total Volume"].max())

84.56
62505646.52